*{
  font-family: poppins;
}
nav{ 
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
footer{
  padding: 60px 36px;
  background: #002957;
  color: whitesmoke;
}
#shadow-nav{
  color: #002957;
  border-bottom: 1px solid #fff;
}
#shadow-nav:hover{
  border-bottom: 1px solid #002957;
}
#shadow-nav:focus{
  background-color: #002957;
  color: whitesmoke;
  border-radius: 2px;
}
.container{
  background: white;
  font-weight: bold;
}
#shodowContainer{
  background: #002957;
  padding: 48px 12px;
}
#facilities{
  color: #002957;
  padding: 3rem;
}
#bg-light{
  width: 168px;
  border-radius: 8px;
}
.cardBlur{
  background: white;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 0 35px 0 rgb(68 88 144 / 12%);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  padding: 36px 24px;
  border-radius: 6px;
  text-align: left !important;
}
.btn{
  background-color: #002957;
  color: whitesmoke;
}
#linkHover{
  color: white;
  text-decoration: none;
}
#linkHover:hover{
  color: rgb(255, 157, 0);
  text-decoration-line: underline;
  
}
.fa-triangle{
  position: fixed;
  font-size: 12px;
  z-index: 1;
  cursor: pointer;
  color:#002957;
  background: white;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid white;
  bottom: 12px;
  right: 12px;
  margin-left: 87%;
}
.position-sticky{
  position: sticky;
  top: 0;
  z-index: 999;
}
.urlToImg{
  border: 2px solid rgb(255, 157, 0);
  border-radius: 12px;
}

@media screen and (max-width: 480px) {
  .carousel-item {
    height: 400px;
    image-resolution: 300dpi;
  }
  .footerImg{
    margin-left: 60px;
    margin-bottom: 30px;
  }
}

.url{
  font-size: 14px;
  font-weight: 400;
  color: #727272;
}

.urlTitle{
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #000 !important;
}

.headlineUrl{
  color: rgb(255, 157, 0);
  font-size: 24px !important;
  font-weight: 700;
  letter-spacing: 1px;
}

.urlDate{
  font-size: 16px;
  font-weight: 500px;
  color: rgb(255, 157, 0);
}


@media(max-width:768px){
  #row{
    display: flex !important;
    flex-wrap: wrap;
  }
  #col-md-4{
    width: 50%;
  }
  .url{
    font-size: 14px;
    font-weight: 400;
    color: #727272;
  }
  
  .urlTitle{
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #000 !important;
  }
  
  .headlineUrl{
    color: rgb(255, 157, 0);
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: unset !important;
  }
  
  .urlDate{
    font-size: 14px;
    font-weight: 400px;
    color: rgb(255, 157, 0);
  }

  .cardBlur{
    padding: 16px 12px !important;
  }
}


.text-center{
  text-align: justify !important;
}