*{
  font-family: poppins;
}
nav{ 
  font-weight: bold;
}
footer{
  background: blue;
  color: whitesmoke;
}
#shadow-nav{
  color: blue;
}
#shadow-nav:hover{
  border-bottom:1px solid blue;
}
#shadow-nav:focus{
  background-color: blue;
  color: whitesmoke;
  border-radius: 2px;
}
.container{
  background: white;
  font-weight: bold;
}
#shodowContainer{
  background: blue;
}
#facilities{
  color: blue;
  padding: 3rem;
}
#bg-light{
  width: 168px;
  border-radius: 8px;
}
.cardBlur{
  color: blue;
  background: white;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 0 35px 0 rgb(68 88 144 / 12%);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.btn{
  background-color: blue;
  color: whitesmoke;
}
#linkHover{
  color: white;
  text-decoration: none;
}
#linkHover:hover{
  color: rgb(255, 217, 0);
  text-decoration-line: underline;
  
}
.fa-triangle{
  position: fixed;
  font-size: 12px;
  z-index: 1;
  cursor: pointer;
  color:blue;
  background: white;
  padding: 8px;
  float: right;
  border-radius: 8px;
  border: 2px solid white;
  bottom: 74px;
  margin-left: 87%;
}
.position-sticky{
  position: sticky;
  top: 0;
  z-index: 999;
}
.urlToImg:hover{
  box-shadow: 4px 20px 50px 20px rgb(0 0 255 / 50%);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 480px) {
  .carousel-item {
    height: 400px;
    image-resolution: 300dpi;
  }
  .footerImg{
    margin-left: 60px;
    margin-bottom: 30px;
  }
}
